#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0 auto; /* Horizontally center align */
  justify-content: center;
  align-items: center;
}

.app-header {
  padding: 1rem;
  text-align: center;
  margin: 0 auto; /* Horizontally center align */
}

.map-container {
  flex: 1;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px; /* Fixed width */
  height: 400px; /* Fixed height */
  overflow: hidden; /* Ensures content does not overflow the container's box */
  margin: 0 auto; /* Horizontally center align */
}

h1,p {
  text-align: center;
}

.table {
  display: table;
  justify-content: center;
  align-items: center;
  width: 600px; /* Fixed width */
  margin: 0 auto; /* Horizontally center align */
  border: 1px solid black;
  background-color: white;
  color: black; /* Set text color to dark grey */
  text-align: center; /* Center align the content */
  table-layout: fixed; /* Set table layout to fixed */
  margin-top: 20px; /* Add margin to top */
  margin-bottom: 20px; /* Add margin to bottom */
}

.table th,
.table td {
  width: 33%; /* Equal column widths */
  /* padding: 8px; Add padding to cells */
  border: 1px solid darkgray; /* Add border to cells */
  text-align: center; /* Center align the content */
}