#root {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .app-container {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
} */

.app-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 15% 80% 5%;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
}

.title-div {
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  grid-area: header;
}


h1,
h2,
h3,
p {
  text-align: center;
}

h1,
h2 {
  margin-top: 1px; /* Add margin to top */
  margin-bottom: 1px; /* Add margin to bottom */
}

p {
  grid-area: footer;
}

table {
  grid-area: sidebar;
}

.toable {
  grid-area: sidebar;
  display: table;
  justify-content: center;
  align-items: center;
  /* width: 600px; */
  margin: 0 auto; /* Horizontally center align */
  border-collapse: separate; /* Allows for rounded corners */
  border-spacing: 0; /* Removes spacing between cells */
  border-radius: 8px; /* Rounded corners for the table */
  overflow: hidden; /* Ensures the rounded corners are visible */
  background-color: #f0f0f0; /* Light grey background */
  color: #333; /* Dark grey text color */
  text-align: center; /* Center align the content */
  table-layout: fixed; /* Set table layout to fixed */
  margin-top: 20px; /* Add margin to top */
  margin-bottom: 20px; /* Add margin to bottom */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}



.table th,
.table td {
  /* width: 33%; */
  /* padding: 12px;  */
  border-bottom: 1px solid #ddd; 
  text-align: center; 
}

.table th {
  background-color: #4d4d4d;
  color: #ffffff;
}

.table tr:last-child td {
  border-bottom: none;
}

.map-container {
  /* border-radius: 8px; */
  /* overflow: hidden; */
  grid-area: main;
}

/* .map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
} */
